.a {
    font-family: Arial;
    color: green;
    text-align: center;
}

.b {
    font-family: Arial;
    color: green;
    text-align: center;
}

.c {
    font-family: Arial;
    color: green;
    text-align: center;
}

