.a {
    font-family: Arial;
    letter-spacing:5px;
    font-size: 35px;
}

.b {
    font-family: Arial;
    word-spacing: 15px;
    font-size: 25px;
}

.c {
    font-family: Arial;
    text-transform: capitalize;
    font-size: 15px;
}
