table {
    border: double;
    background-color: #FAEBD7;
}

tr, td {
    border: solid 1px;
    padding: 2px;
}

span {
    background-color: #0000FF;
    color: #00FF00;
    font-size: 12px;
    font-family: Helvetica, Arial;
}

.obligatorio {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 14px;
    font-weight:bold;
}

.preferencias {
    background-color: #00FF00;
    color: #000000;
    font-size: 8px;
}

.enfocada {
    background-color: #66CCFF;
    color: #3333CC;
    font-family: Calibri, Papyrus;
}

.desenfocada {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
}